/* Loader styles */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease-in-out;
    z-index: 9999;
  }
  
  .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #FDC600;
    border-radius: 50%;
    width: 68px;
    height: 60px;
    animation: spin 2s linear infinite;
  }

  
  /* Hide the loader */
  .loader-wrapper.hide {
    opacity: 0;
    pointer-events: none;
  }
  
  /* Show the loader */
  .loader-wrapper.show {
    opacity: 1;
  }
  
  /* Loader animation */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  